body {
    background: black;
    margin: 0;
    font-family: Arial;
    color: white;
    text-align: center;
}

#universe {
    margin-top: 100px;
}

button {
    padding: 15px 30px;
    margin: 10px;
    background: #2d00f7;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
}

#status {
    margin-top: 30px;
    font-size: 24px;
}
